*{
    margin-top: 20px;
}

body{
    background: skyblue;
}

table{
    width: 800px;
    text-align: center;
    margin: auto;
    table-layout: fixed;
}

table tr, th, td{
    padding: 20px;
    color: white;
    border: 1px solid #080808;
    border-collapse: collapse;
    font-size: 17px;
    font-family:sans-serif;
    background: linear-gradient(top,#3c3c3c 0%,#222222 100%);
    background:-webkit-linear-gradient(top,#3c3c3c 0%,#222222 100%);
}
td:hover{
    background: cadetblue;
    transition: all 0,5s ease;
}